 <div class="background start-bg">
   <div class="window_choice">
        <div class="window_choice-level_difficulty">Выбери сложность</div>
        <div class="window_choice-level">
          <button class="window_choice-button" id="1">1</button>
          <button class="window_choice-button" id="2">2</button>
          <button class="window_choice-button" id="3">3</button>
        </div>
        <button class="button-start">Старт</button>
    </div>
    <div id="output"></div> 
 
 </div>

   