<div class="background lose-bg">

<div class="lose_container">
    <img class="final-img" src='./static/{{imgStatus}}' alt="lose_win">
    <div class="final-status">Вы {{status}}!!!</div>
    <div class="time_message">Затраченное время</div>
    <div class="final-time">{{time}}</div>
    <button class="button-restart">Играть снова</button>
</div>

</div>