.window_choice {
    width: 480px;
    height: 459px;
    left: 272px;
    top: 158px;
    display: flex;
    background: #C2F5FF;
    border-radius: 12px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.window_choice-level_difficulty {
    width: 208px;
    height: 96px;
    left: 408px;
    top: 210px;
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #004980;
    display: flex;
    
}
.window_choice-level {
    display: flex;
    gap: 24px;
}
.window_choice-button {
    width: 96px;
    
    height: 98px;
    left: 465px;
    top: 354px;
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    border-radius: 12px;

    color: #0080C1;
    
}
.window_choice-button:hover {
    color: green;
    border-color: purple;}
.button-start {
    width: 246px;
    height: 50px;
    left: 389px;
    top: 519px;
    border: none;
    background: #7AC100;
    border-radius: 12px;
    font-family: 'Roboto Mono', monospace;
    font-size: medium;
}

.game{
    width: 1024px;
    height: 774px;
    background: #004980
}

.board{
    padding-left: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    column-gap: 10px;
    row-gap: 15px;
    
}

.game_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 40px;
    padding-bottom: 45px;
}