@font-face {
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("StratosSkyeng"),
         /* Есlocal("Roboto"),ли не получилось, загрузит woff2 */
         url("static/fonts/web_fonts/stratosskyengweb-regular.woff2") format("woff2"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         url("static/fonts/web_fonts/stratosskyengweb-regular.woff") format("woff");
  }

.window_choice {
    width: 480px;
    height: 459px;
    left: 272px;
    top: 158px;
    display: flex;
    background: #C2F5FF;
    border-radius: 12px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.window_choice-level_difficulty {
    width: 208px;
    height: 96px;
    left: 408px;
    top: 210px;
    font-family:'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #004980;
    display: flex;
    
}
.window_choice-level {
    display: flex;
    gap: 24px;
}
.window_choice-button {
    width: 96px;
    height: 98px;
    left: 465px;
    top: 354px;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    border-radius: 12px;
    border: none;
    color: #0080C1;
    
}

.window_choice-button:hover {
    color: green;
}
    
.button-start {
    width: 246px;
    height: 50px;
    left: 389px;
    top: 519px;
    border: none;
    background: #7AC100;
    border-radius: 12px;
    font-family: 'StratosSkyeng';
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.background{
    width: 1024px;
    height: 774px;
    background: #004980
}

.start-bg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.board{
    padding-left: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    column-gap: 10px;
    row-gap: 15px;
    
}

.game_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 40px;
    padding-bottom: 45px;
}

.timer{
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: #FFFFFF;
}

.button-restart{
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}